<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.co.spookies.android.a3.websocket"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.CAMERA"></uses-permission>
<uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <service android:name="AndroidWebSocketServer" />
        <activity android:name="Controller"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="RemoteCamera"
                  android:label="remote camera"
                  android:screenOrientation="landscape">
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="8" />
</manifest>